{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/q_cb/small_header.png",
      "fileBody" : "/interface/q_cb/small_body.png",
      "fileFooter" : "/interface/q_cb/small_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 38],
      "base" : "/interface/q_cb/grate.png",
      "hover" : "/interface/q_cb/grateover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [23, 83],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [23, 60],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [26, 75],
      "file" : "/interface/q_cb/downarrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "",
      "position" : [-20, 20]
    }
  }
}
